trunk/GestorAplicacion/src/wsdl/localhost_8080/GestorRedesWS/gestorRedes.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gestoredes.soaandjoe.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="gestorRedes" targetNamespace="http://gestoredes.soaandjoe.com/">
    <wsdl:types>
        <xs:schema targetNamespace="http://gestoredes.soaandjoe.com/">
            <!--UC1 Obtencion de URL para vincular twitter-->
            <xs:element name="obtenerURLVinculacionTwitter" type="tns:obtenerURLVinculacionTwitter"/>
            <xs:element name="obtenerURLVinculacionTwitterResponse" type="tns:obtenerURLVinculacionTwitterResponse"/>
            <!--UC2 Obtencion token final Usuario-->
            <xs:element name="obtenerTokenFinalTwitter" type="tns:obtenerTokenFinalTwitter"/>
            <xs:element name="obtenerTokenFinalTwitterResponse" type="tns:obtenerTokenFinalTwitterResponse"/>
          
            <!--UC3 Publicar Mensaje en redes sociales-->
            <xs:element name="publicarMensaje" type="tns:publicarMensaje"/>
            <xs:element name="publicarMensajeResponse" type="tns:publicarMensajeResponse"/>
           
            <!--UC1 Obtencion de URL para vincular twitter-->
            <!--No hay parametros de entrada-->
            <xs:complexType name="obtenerURLVinculacionTwitter">
                <xs:sequence>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="obtenerURLVinculacionTwitterResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:responseURLVinculacionTwitterBean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="responseURLVinculacionTwitterBean">
                <xs:sequence>
                    <xs:element name="url" type="xs:string"/>
                    <xs:element name="token" type="xs:string"/>
                    <xs:element name="tokenSecret" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            
            
            
            
            <!--UC2 Obtencion token final Usuario-->
            <xs:complexType name="obtenerTokenFinalTwitter">
                <xs:sequence>
                    <xs:element name="tokenTemporal" type="tns:tokenFinalTwitterBean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="tokenFinalTwitterBean">
                <xs:sequence>
                    <xs:element name="token" type="xs:string"/>
                    <xs:element name="tokenSecret" type="xs:string"/>
                    <xs:element name="key" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="obtenerTokenFinalTwitterResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:responseTokenFinalTwitterBean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="responseTokenFinalTwitterBean">
                <xs:sequence>
                    <xs:element name="token" type="xs:string"/>
                    <xs:element name="tokenSecret" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            
            
            <!--UC3 Publicar Mensaje en redes sociales-->
            <xs:complexType name="publicarMensaje">
                <xs:sequence>
                    <xs:element name="mensaje" type="xs:string"/>
                    <xs:element name="configuracionesRedes" type="tns:configuracionesRedesBean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="configuracionesRedesBean">
                <xs:sequence>
                    <xs:element name="codigosTwitter" type="tns:codigosTwitterBean" minOccurs="0"/>
                    <xs:element name="codigosFacebook" type="tns:codigosFacebookBean" minOccurs="0"/>
                    <xs:element name="codigosGoogle" type="tns:codigosGoogleBean" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="codigosTwitterBean">
                <xs:sequence>
                    <xs:element name="token" type="xs:string"/>
                    <xs:element name="tokenSecret" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="codigosFacebookBean">
                <xs:sequence>
                    <xs:element name="token" type="xs:string"/>
                    <xs:element name="tokenSecret" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="codigosGoogleBean">
                <xs:sequence>
                    <xs:element name="token" type="xs:string"/>
                    <xs:element name="tokenSecret" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="publicarMensajeResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:responseMensajeBean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="responseMensajeBean">
                <xs:sequence>
                    <xs:element name="twitterOk" type="xs:boolean"/>
                    <xs:element name="facebookOk" type="xs:boolean"/>
                    <xs:element name="googleOk" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    
    <!--UC1 Obtencion de URL para vincular twitter-->
    <wsdl:message name="obtenerURLVinculacionTwitter">
        <wsdl:part name="parameters" element="tns:obtenerURLVinculacionTwitter">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="obtenerURLVinculacionTwitterResponse">
        <wsdl:part name="parameters" element="tns:obtenerURLVinculacionTwitterResponse">
        </wsdl:part>
    </wsdl:message>
    
    <!--UC2 Obtencion token final Usuario-->
    <wsdl:message name="obtenerTokenFinalTwitter">
        <wsdl:part name="parameters" element="tns:obtenerTokenFinalTwitter">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="obtenerTokenFinalTwitterResponse">
        <wsdl:part name="parameters" element="tns:obtenerTokenFinalTwitterResponse">
        </wsdl:part>
    </wsdl:message>
    
    <!--UC3 Publicar Mensaje en redes sociales-->
    <wsdl:message name="publicarMensaje">
        <wsdl:part name="parameters" element="tns:publicarMensaje">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="publicarMensajeResponse">
        <wsdl:part name="parameters" element="tns:publicarMensajeResponse">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:portType name="gestorRedesWSCV">
        <!--UC1 Obtencion de URL para vincular twitter-->
        <wsdl:operation name="obtenerURLVinculacionTwitter">
            <wsdl:input message="tns:obtenerURLVinculacionTwitter"/>
            <wsdl:output message="tns:obtenerURLVinculacionTwitterResponse"/>
        </wsdl:operation>
        <!--UC2 Obtencion token final Usuario-->
        <wsdl:operation name="obtenerTokenFinalTwitter">
            <wsdl:input message="tns:obtenerTokenFinalTwitter"/>
            <wsdl:output message="tns:obtenerTokenFinalTwitterResponse"/>
        </wsdl:operation>
        <!--UC3 Publicar Mensaje en redes sociales-->
        <wsdl:operation name="publicarMensaje">
            <wsdl:input message="tns:publicarMensaje"/>
            <wsdl:output message="tns:publicarMensajeResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="gestorRedesPortBinding" type="tns:gestorRedesWSCV">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <!--UC1 Obtencion de URL para vincular twitter-->
        <wsdl:operation name="obtenerURLVinculacionTwitter">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <!--UC2 Obtencion token final Usuario-->
        <wsdl:operation name="obtenerTokenFinalTwitter">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <!--UC3 Publicar Mensaje en redes sociales-->
        <wsdl:operation name="publicarMensaje">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="gestorRedes">
        <wsdl:port name="gestorRedesPort" binding="tns:gestorRedesPortBinding">
            <soap:address location="http://localhost:8080/GestorRedesWS/gestorRedes"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>